@tailwind base;
@tailwind components;
@tailwind utilities;

/* Extend tailwind base style */
@layer base {
  html,
  body {
    @apply h-full text-base text-body dark:text-dark-base dark:bg-dark antialiased font-body bg-white relative !leading-relaxed;
    -ms-overflow-style: none; /* IE and Edge */
  }
  a {
    @apply transition-all;
    color: inherit;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-black dark:text-white;
  }
  h1 {
    @apply text-2xl sm:text-3xl;
  }
  h2 {
    @apply text-xl sm:text-2xl;
  }
  h3 {
    @apply text-lg sm:text-xl;
  }
  h4 {
    @apply text-base sm:text-lg;
  }
  h5 {
    @apply text-sm sm:text-base;
  }
  h6 {
    @apply text-xs sm:text-sm;
  }
  .container {
    @apply px-4 mx-auto sm:!max-w-full md:!max-w-[720px] lg:!max-w-[960px] xl:!max-w-[1140px] 2xl:!max-w-[1344px];
  }
  input:focus {
    @apply outline-none;
  }
  .word-spacing-1 {
    word-spacing: 4px;
  }
  .word-spacing-2 {
    word-spacing: 6px;
  }
  .text-stroke-1 {
    -webkit-text-stroke: 1px #000000;
    color: transparent;
  }
  .dark .text-stroke-1 {
    -webkit-text-stroke: 1px #ffffff;
  }
  .text-stroke-2 {
    -webkit-text-stroke: 1px #d1d1d1;
    color: transparent;
  }
  .dark .text-stroke-2 {
    -webkit-text-stroke: 1px #4b4c4c;
  }

  .btn {
    @apply relative inline-flex items-center justify-center text-sm md:text-[15px] font-medium transition-all;
  }
  .btn-contact {
    @apply bg-black text-white ltr:rounded-tl-full rtl:rounded-tr-full rounded-bl-full rounded-br-full px-8 py-3.5 text-sm md:text-[15px] md:py-4 font-semibold hover:bg-gray-900 dark:bg-white hover:dark:bg-opacity-80 dark:text-black;
  }
  .btn-primary {
    @apply rounded-md py-1.5 px-8 min-h-[52px] md:text-sm word-spacing-1 relative text-black font-bold before:w-12 before:h-full before:bg-gray-100 ltr:before:left-0 rtl:before:right-0 before:absolute before:top-0 before:rounded-md before:transition-all hover:before:w-full dark:text-white dark:before:!bg-gray-800;
  }
  .btn-primary > span {
    @apply relative z-10;
  }
  .btn-secondary,
  .btn-download {
    @apply bg-black font-semibold text-white rounded-md tracking-[1px] px-5 py-3 leading-[1.5em] hover:bg-gray-900 dark:bg-white dark:text-black hover:dark:bg-opacity-80 md:py-4 md:px-8;
  }
  .transition-fade {
    transition: opacity 0.15s linear;
  }
  .transition-portfolio {
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1),
      opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  }
  .transition-drawer {
    transition: width 0s ease 0.3s, height 0s ease 0.3s,
      transform 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
  }
  .transition-mask {
    transition: opacity 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86),
      height 0s ease 0.3s;
  }
  .hero-svg-effect path {
    animation: SVG_hero_shape 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
}
.mainMenu li > a.active {
  @apply before:opacity-100 before:bottom-0 hover:dark:!text-white;
}
#mobileMenu .mainMenu li.active > a {
  @apply after:block;
}
.siteHeader.is-scrolling {
  @apply bg-white dark:bg-black shadow-header lg:py-5 dark:shadow-headerDark;
}
.siteHeader.is-scrolling .aboutDrawerOpenBtn {
  @apply dark:text-white dark:bg-transparent dark:border-gray-600;
}
@keyframes SVG_hero_shape {
  0% {
    d: path(
      "M 0,500 C 0,500 0,250 0,250 C 31.93776381796593,237.40035981810558 63.87552763593186,224.8007196362112 98,221 C 132.12447236406814,217.1992803637888 168.43565327423843,222.1974812732608 201,233 C 233.56434672576157,243.8025187267392 262.38185926711446,260.4093552707456 295,261 C 327.61814073288554,261.5906447292544 364.03690965730385,246.1650976437569 393,253 C 421.96309034269615,259.8349023562431 443.47050210367024,288.9302541542269 478,304 C 512.5294978963298,319.0697458457731 560.081081928015,320.1138857393356 592,316 C 623.918918071985,311.8861142606644 640.20517018427,302.61420288843055 665,269 C 689.79482981573,235.38579711156947 723.0982373349051,177.4293027069423 763,192 C 802.9017626650949,206.5706972930577 849.4018804761093,293.66858628380027 876,326 C 902.5981195238907,358.33141371619973 909.2942407606575,335.89635215785665 942,325 C 974.7057592393425,314.10364784214335 1033.4211564812601,314.74600508477323 1069,299 C 1104.5788435187399,283.25399491522677 1117.0211333143016,251.11962750305045 1146,231 C 1174.9788666856984,210.88037249694955 1220.494310261534,202.77548490302493 1257,213 C 1293.505689738466,223.22451509697507 1321.0016256395616,251.77843288484996 1350,261 C 1378.9983743604384,270.22156711515004 1409.4991871802192,260.110783557575 1440,250 C 1440,250 1440,500 1440,500 Z"
    );
  }
  25% {
    d: path(
      "M 0,500 C 0,500 0,250 0,250 C 35.01530566488282,243.21688392993045 70.03061132976563,236.4337678598609 99,224 C 127.96938867023437,211.5662321401391 150.89286034582028,193.48181249048687 179,194 C 207.10713965417972,194.51818750951313 240.3979472869533,213.6389821781916 279,239 C 317.6020527130467,264.3610178218084 361.51535050636653,295.9622587967467 394,293 C 426.48464949363347,290.0377412032533 447.54065068758075,252.5119826348217 479,239 C 510.45934931241925,225.4880173651783 552.3220467433101,235.98981066396658 583,271 C 613.6779532566899,306.0101893360334 633.1711623391783,365.52877470931196 662,339 C 690.8288376608217,312.47122529068804 728.9933038999767,199.89509049878563 760,158 C 791.0066961000233,116.10490950121438 814.8556220609147,144.89086329554553 852,165 C 889.1443779390853,185.10913670445447 939.5842078563647,196.54145631903225 973,232 C 1006.4157921436353,267.45854368096775 1022.807546513626,326.9433114283256 1049,307 C 1075.192453486374,287.0566885716744 1111.1856060891312,187.6852979676653 1146,177 C 1180.8143939108688,166.3147020323347 1214.4500291298493,244.31549670101322 1243,284 C 1271.5499708701507,323.6845032989868 1295.0142773914718,325.0527152282819 1327,313 C 1358.9857226085282,300.9472847717181 1399.4928613042641,275.4736423858591 1440,250 C 1440,250 1440,500 1440,500 Z"
    );
  }
  50% {
    d: path(
      "M 0,500 C 0,500 0,250 0,250 C 36.69254686163242,227.52180523369714 73.38509372326484,205.0436104673943 105,205 C 136.61490627673516,204.9563895326057 163.15217196857304,227.34736336411993 197,259 C 230.84782803142696,290.65263663588007 272.00621840244287,331.566936076126 300,322 C 327.99378159755713,312.433063923874 342.8229544216556,252.38489233137608 372,229 C 401.1770455783444,205.61510766862392 444.701963910935,218.89349459836976 482,208 C 519.298036089065,197.10650540163024 550.3691899346045,162.04112927514484 583,166 C 615.6308100653955,169.95887072485516 649.8212763506473,212.94198830105086 676,243 C 702.1787236493527,273.05801169894914 720.3457046628068,290.1909175206516 753,268 C 785.6542953371932,245.8090824793484 832.7959049981254,184.29434161634262 870,185 C 907.2040950018746,185.70565838365738 934.4706753446917,248.63171601397778 966,295 C 997.5293246553083,341.3682839860222 1033.3213936231075,371.1787943277463 1066,343 C 1098.6786063768925,314.8212056722537 1128.2437501628783,228.65310667503707 1163,205 C 1197.7562498371217,181.34689332496293 1237.703605725379,220.20877897210545 1263,258 C 1288.296394274621,295.79122102789455 1298.9418269356058,332.5117774365413 1326,331 C 1353.0581730643942,329.4882225634587 1396.5290865321972,289.7441112817294 1440,250 C 1440,250 1440,500 1440,500 Z"
    );
  }
  75% {
    d: path(
      "M 0,500 C 0,500 0,250 0,250 C 24.51054202970583,268.541011619307 49.02108405941166,287.082023238614 80,267 C 110.97891594058834,246.917976761386 148.4262057920592,188.2129186648511 185,200 C 221.5737942079408,211.7870813351489 257.27409277235154,294.06630210198165 291,313 C 324.72590722764846,331.93369789801835 356.47742311853466,287.5218729272224 392,272 C 427.52257688146534,256.4781270727776 466.81621475350994,269.84620618912885 493,263 C 519.1837852464901,256.15379381087115 532.2577178674258,229.09330231626228 558,225 C 583.7422821325742,220.90669768373772 622.152913776787,239.78058454582194 655,235 C 687.847086223213,230.21941545417806 715.1306270254258,201.78435950044994 751,212 C 786.8693729745742,222.21564049955006 831.3245781215094,271.08197745237845 863,270 C 894.6754218784906,268.91802254762155 913.571060488537,217.88773069003625 948,213 C 982.428939511463,208.11226930996375 1032.3911799243422,249.36709978747643 1068,279 C 1103.6088200756578,308.63290021252357 1124.864219814094,326.6438701600579 1149,304 C 1173.135780185906,281.3561298399421 1200.1519408192826,218.0574195722921 1232,187 C 1263.8480591807174,155.9425804277079 1300.5280169087764,157.12645155077368 1336,173 C 1371.4719830912236,188.87354844922632 1405.7359915456118,219.43677422461315 1440,250 C 1440,250 1440,500 1440,500 Z"
    );
  }
  100% {
    d: path(
      "M 0,500 C 0,500 0,250 0,250 C 31.93776381796593,237.40035981810558 63.87552763593186,224.8007196362112 98,221 C 132.12447236406814,217.1992803637888 168.43565327423843,222.1974812732608 201,233 C 233.56434672576157,243.8025187267392 262.38185926711446,260.4093552707456 295,261 C 327.61814073288554,261.5906447292544 364.03690965730385,246.1650976437569 393,253 C 421.96309034269615,259.8349023562431 443.47050210367024,288.9302541542269 478,304 C 512.5294978963298,319.0697458457731 560.081081928015,320.1138857393356 592,316 C 623.918918071985,311.8861142606644 640.20517018427,302.61420288843055 665,269 C 689.79482981573,235.38579711156947 723.0982373349051,177.4293027069423 763,192 C 802.9017626650949,206.5706972930577 849.4018804761093,293.66858628380027 876,326 C 902.5981195238907,358.33141371619973 909.2942407606575,335.89635215785665 942,325 C 974.7057592393425,314.10364784214335 1033.4211564812601,314.74600508477323 1069,299 C 1104.5788435187399,283.25399491522677 1117.0211333143016,251.11962750305045 1146,231 C 1174.9788666856984,210.88037249694955 1220.494310261534,202.77548490302493 1257,213 C 1293.505689738466,223.22451509697507 1321.0016256395616,251.77843288484996 1350,261 C 1378.9983743604384,270.22156711515004 1409.4991871802192,260.110783557575 1440,250 C 1440,250 1440,500 1440,500 Z"
    );
  }
}

.sidebarDrawer.drawerOpen {
  width: 100%;
  transition: transform 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
}
.sidebarMain {
  transition: transform 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86),
    opacity 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86),
    box-shadow 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
}
.sidebarDrawer.drawerOpen .drawerMask {
  opacity: 1;
  height: 100%;
  transition: opacity 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
}
.sidebarDrawer.drawerOpen .sidebarMain {
  transform: translateX(0%);
}
.sidebarDrawer .sidebarBody .ss-wrapper {
  @apply px-5 pt-4 ltr:md:pl-7 rtl:md:pr-7;
}
.sidebarMobileMenuArea .sidebarBody .ss-wrapper {
  @apply pr-2.5;
}
body.modalOpen,
body.drawerOpen {
  overflow: hidden;
  padding-right: 17px;
}

#portfolioImage.isVisible,
#contactModal.isVisible {
  @apply block;
}
#portfolioImage.isVisible .modalDialog,
#contactModal.isVisible .modalDialog {
  @apply animate-modal;
}
#portfolioImage.isVisible ~ .modalMask,
#contactModal.isVisible ~ .modalMask {
  @apply block animate-mask;
}

#mobileMenu .mainMenu {
  @apply block m-0 text-base text-left;
}
#mobileMenu .mainMenu > li {
  @apply m-0;
}
#mobileMenu .mainMenu > li > a {
  @apply py-3.5;
}
.breadcrumb .active {
  @apply font-medium text-gray-700 dark:text-gray-300;
}
.pagination .active > a {
  @apply text-black dark:text-white before:w-full before:opacity-100;
}
.pagination .disabled > a {
  @apply opacity-50 hover:text-gray-700 dark:hover:text-gray-300;
}

.portfolio-work-nav > li > a.active::before {
  @apply bottom-0 opacity-100;
}
.blog-single-post blockquote p {
  @apply text-gray-900 before:content-none dark:text-gray-100;
}
.blog-single-post blockquote cite {
  @apply block mt-5 text-base font-semibold lg:mt-7;
}
.bg-gradient-current {
  background-image: linear-gradient(
    to right,
    currentColor 0%,
    currentColor 100%
  );
}
.error {
  @apply text-xs text-danger;
}
.formControl:focus + div {
  @apply border-black dark:border-gray-300;
}
.formControl:focus-visible {
  outline: 0px solid;
}
.topButton {
  @apply shadow-scrollTop;
}

.topButton {
  @apply w-10 h-10 md:w-12 md:h-12 right-5 md:right-6;
}

.topButton.btnShow {
  @apply visible opacity-100 bottom-8 md:bottom-12;
}
